:root {
  --background: #d0d0d0;
  --component-background: #c0c0c0;
  --component-background-hover: #b0b0b0;
  --component-background-active: #a0a0a0;
  --foreground: #181818;
  --foreground-important: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #181818;
    --component-background: #282828;
    --component-background-hover: #383838;
    --component-background-active: #484848;
    --foreground: #d0d0d0;
    --foreground-important: #ffffff;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

button {
  background-color: var(--component-background);
  color: var(--foreground-important);
  border: none;
  cursor: pointer; 
  transition: background-color 0.1s ease-in-out;
}

button:hover {
  background-color: var(--component-background-hover);
}

button:active {
  background-color: var(--component-background-active);
}

@media (hover: none) {
  button:hover {
    background-color: var(--component-background);
  }
}

.container {
  display: flex;
  flex-direction: row;
  height: 100svh;
  min-height: -webkit-fill-available;
  width: 100vw;
}
/* breakpoints are: 
   - 1200px: desktop
   - 992px: tablet
   - 768px: mobile
   - 576px: small mobile
*/
@media screen and (max-width: 576px) {
  .container {
    flex-direction: column;
  }

}

.map-container {
  height: 100%;
  flex: 2;
  display: flex;
  flex-direction: column;
}

.map {
  height: 100%;
  width: 100%;
}

.reset-view-button {
  font-size: 20px;
  bottom: 10px;
  left: 0;
  right: 0;
  margin-inline: auto;
  margin-top: -60px;
  width: fit-content;
  z-index: 1000;
  padding: 10px 40px;
  box-sizing: border-box;

  border: none;
  border-radius: 40px;
  cursor: pointer;

  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.2s ease-in-out, background-color 0.1s ease-in-out;
}

.reset-view-button.active {
  visibility: visible;
  opacity: 1;
}

.ai-description-text {
  margin-bottom: 10px;
  text-align: justify;
  margin: 0 10px 10px 10px;
  transition: opacity 0.2s ease-in-out;
}

.ai-description-text.loading {
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.marker-list-container {
  flex: 1;
  overflow-y: scroll;
  padding: 20px;
}

.marker-list-container h2 {
  margin-bottom: 10px;
}

.location-button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
  background-color: var(--component-background);
  border-radius: 5px;
  color: var(--foreground-important);
  width: 100%;
}

.location-button-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.location-button img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.location-button.active {
  background-color: var(--component-background-active);
}

.location-button .location-button-description {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
  text-align: justify;
  padding-right: 10px;
}

.location-button.active .location-button-description {
  max-height: 100px;
  overflow: scroll;
}

.location-button .location-button-name {
  font-weight: bold;
  margin-bottom: 5px;
  text-align: left;
}

.location-button .location-button-distance {
  font-size: 14px;
  color: var(--foreground);
  margin-bottom: 5px;
}

.location-button .stars-bar {
  width: 100px;
  height: 16px;
  margin-bottom: 5px;
  overflow: hidden;
  background-image: url('/star_empty.svg');
  background-size: 20% 16px;
  background-repeat: repeat-x;
}

.location-button .stars-bar .stars {
  height: 100%;
  background-image: url('/star_full.svg');
  background-size: 20px 16px;
  background-repeat: repeat-x;
}