:root {
  --background: #d8d8d8;
  --component-background: #c8c8c8;
  --component-background-hover: #b8b8b8;
  --component-background-active: #a8a8a8;
  --contrast-border: #0004;
  --foreground: #181818;
  --foreground-important: #000000;
  --premium-color: #ffcc00; /* Color for premium locations */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #181818;
    --component-background: #282828;
    --component-background-hover: #383838;
    --component-background-active: #484848;
    --contrast-border: #fff4;
    --foreground: #d0d0d0;
    --foreground-important: #ffffff;
    --premium-color: #ffcc00; /* Color for premium locations */
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

button {
  background-color: var(--component-background);
  color: var(--foreground-important);
  border: none;
  cursor: pointer; 
  transition: background-color 0.1s ease-in-out;
}

@media (hover: hover) {
  button:hover {
    background-color: var(--component-background-hover);
  }
}

@media (hover: none) {
  button:hover {
    background-color: var(--component-background);
  }
}

button:active {
  background-color: var(--component-background-active);
}

.container {
  display: flex;
  flex-direction: row;
  height: 100svh;
  min-height: -webkit-fill-available;
  width: 100vw;
}
/* breakpoints are: 
   - 1200px: desktop
   - 992px: tablet
   - 768px: mobile
   - 576px: small mobile
*/
@media screen and (max-width: 576px) {
  .container {
    flex-direction: column;
  }
}

.map-container {
  height: 100%;
  flex: 2;
  display: flex;
  flex-direction: column;
}

.map.leaflet-container {
  height: 100%;
  width: 100%;
  background-color: var(--background);
}

.reset-view-button {
  font-size: 20px;
  bottom: 10px;
  left: 0;
  right: 0;
  margin-inline: auto;
  margin-top: -60px;
  width: fit-content;
  z-index: 1000;
  box-sizing: border-box;

  border: none;
  border-radius: 40px;
  cursor: pointer;

  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.2s ease-in-out, background-color 0.1s ease-in-out;
  background-color: var(--contrast-border);
  border: 2px solid transparent;
}

.reset-view-button:hover,
.reset-view-button:active {
  background-color: var(--contrast-border);
}

.reset-view-button-wrapper {
  width: 100%;
  height: 100%;
  border-radius: 40px;
  padding: 10px 40px;
  background-color: var(--background);
  transition: background-color 0.1s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (hover: hover) {
  .reset-view-button:hover .reset-view-button-wrapper {
    background-color: var(--component-background-hover);
  }
}

.reset-view-button:active .reset-view-button-wrapper {
  background-color: var(--component-background-active);
}

.reset-view-button.active {
  visibility: visible;
  opacity: 1;
}

.ai-description-text {
  text-align: justify;
  transition: opacity 0.2s ease-in-out;
}

.ai-description-text.loading {
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.marker-list-container {
  flex: 1;
  overflow-y: scroll;
  padding: 20px;
}

.marker-list-container h2 {
  margin-bottom: 10px;
}

.poi-title {
  margin-left: 20px;
}

.location-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
  background-color: var(--component-background);
  border-radius: 5px;
  color: var(--foreground-important);
  width: 100%;
}

.location-button-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.location-button img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.location-button.active {
  background-color: var(--component-background-active);
}

.location-button .location-button-description {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
  text-align: justify;
  padding-right: 10px;
}

.location-button.active .location-button-description {
  max-height: 100px;
  overflow-x: hidden;
  overflow-y: auto;
}

.location-button.premium {
  border: 2px solid var(--premium-color);
  margin-bottom: 20px;
}

.location-button.premium::after {
  content: "Sponsored";
  position: absolute;
  bottom: -16px;
  right: 10px;
  font-size: 12px;
}

.location-button .location-button-name {
  font-weight: bold;
  margin-bottom: 5px;
  text-align: left;
}

.location-button .location-button-distance {
  font-size: 14px;
  color: var(--foreground);
  margin-bottom: 5px;
}

.location-button .stars-bar {
  width: 100px;
  height: 16px;
  margin-bottom: 5px;
  overflow: hidden;
  background-image: url('/star_empty.svg');
  background-size: 20% 16px;
  background-repeat: repeat-x;
}

.location-button .stars-bar .stars {
  height: 100%;
  background-image: url('/star_full.svg');
  background-size: 20px 16px;
  background-repeat: repeat-x;
}

.location-button .location-button-open-maps {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 10px;
}

.location-button .location-button-open-maps img {
  width: 30px;
  height: 30px;
  margin: 0;
}

@media (hover: hover) {
  .location-button .location-button-open-maps:hover {
    background-color: var(--component-background-hover);
  }
  .location-button:hover:has(.location-button-open-maps:hover) {
    background-color: var(--component-background);
  } 
}

.location-button .location-button-open-maps:active {
  background-color: var(--component-background-active);
}

.unmute-button {
  position: fixed;
  z-index: 1000;
  bottom: 20px;
  right: calc(100%/3 + 50px);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--contrast-border);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
}

.unmute-button:hover,
.unmute-button:active {
  background-color: var(--contrast-border);
}

.unmute-button-wrapper {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--background);
  transition: background-color 0.1s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (hover: hover) {
  .unmute-button:hover .unmute-button-wrapper {
    background-color: var(--component-background-hover);
  }
}

.unmute-button:active .unmute-button-wrapper {
  background-color: var(--component-background-active);
}

.filter-buttons-container {
  position: fixed;
  z-index: 1000;
  bottom: 90px;
  right: calc(100% / 3 + 50px);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.filter-button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--contrast-border);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  padding: 0;
}

.filter-button.active {
  border-color: var(--foreground-important);
}

.filter-button.active .filter-button-wrapper {
  background-color: var(--component-background-active);
}

.filter-button:hover,
.filter-button:active {
  background-color: var(--contrast-border);
}

.filter-button-wrapper {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--background);
  transition: background-color 0.1s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (hover: hover) {
  .filter-button:hover .filter-button-wrapper {
    background-color: var(--component-background-hover);
  }
}

.filter-button:active .filter-button-wrapper {
  background-color: var(--component-background-active);
}

.filter-button img {
  width: 100%;
  height: 100%;
  padding: 15px;
}

@media screen and (max-width: 576px) {
  .filter-buttons-container {
    flex-direction: row;
    right: 90px;
    bottom: 20px;
    top: unset;
  }
}

@media screen and (max-width: 576px) {
  .unmute-button {
    right: 20px;
    bottom: 20px;
    top: unset;
  }
}

.unmute-button img {
  width: 100%;
  height: 100%;
  padding: 10px;
}

@media (prefers-color-scheme: dark) {  
  .unmute-button img {
    filter: invert(1);
  }
}

.leaflet-control-attribution {
  visibility: hidden; /* remove this if police knocks at your door */
}

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
  filter: brightness(84.75%);
}

@media (prefers-color-scheme: dark) {
  .leaflet-control-zoom-in,
  .leaflet-control-zoom-out {
    filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
  }

  .leaflet-layer {
    filter: invert(100%) hue-rotate(180deg) brightness(200%) contrast(90%);
  }
}

.leaflet-control-zoom.leaflet-bar.leaflet-control {
  border: 2px solid var(--contrast-border);
}

.ai-description-container {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1000;
  width: 600px;
  background-color: var(--contrast-border);
  border-radius: 17px;
  border: 2px solid transparent;
}

.ai-description-container-wrapper {
  padding: 20px;
  background-color: var(--background);
  border-radius: 15px;
  transition: background-color 0.1s ease-in-out;
}

@media screen and (max-width: 992px) {
  .ai-description-container {
    position: unset;
    width: 100%;
    margin-bottom: 10px;
  }
}

@media (hover: hover) {
  .ai-description-container:hover .ai-description-container-wrapper {
    background-color: var(--component-background-hover);
  }
}

.ai-description-container:active .ai-description-container-wrapper {
  background-color: var(--component-background-active);
}